* {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: calc(1px / 2);
    user-select: none;
}

html {
    font-size: 10px;
    height: 100%;
}

:root {
    --primary-color: #19b85d;
    --secondary-color: #f3f3f3;
    --ready-color: #286ea7;
    --prepare-color: #c39111;
    --error-color: #F80E24;
    --text-color: #f3f3f3;
    --button-text-color: var(--primary-color);
    --background-color: #dfdfdf;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}

#app {
    height: calc(100% - 4rem);
    margin: 2rem;
    display: grid;
    overflow: hidden;
    border-radius: 2rem;
    box-sizing: border-box;
    grid-auto-flow: column;
    grid-template-columns: 4fr minmax(300px, 1fr);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

@media (width <= 1024px) {
    #app {
        margin: 0;
        height: 100%;
        border-radius: 0;
    }
}

@media (orientation: portrait) {
    #app {
        grid-template-columns: 4fr 0;
    }
}

#clicker {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--text-color);
    background-color: var(--primary-color);
}

@media (width <= 1024px) {
    #clicker {
        z-index: 1;
        border-radius: 0 2rem 2rem 0;
        box-shadow: 3px 0 10px 1px rgba(0, 0, 0, 0.15)
    }
}

@media (orientation: portrait) {
    #clicker {
        border-radius: 0;
    }
}

#history {
    padding: 2rem;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.15), inset 6px 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media (width <= 1024px) {
    #history {
        margin-left: -1.5rem;
        padding-left: 3.5rem;
    }
}

@media (orientation: portrait) {
    #history {
        display: none;
    }
}

#average {
    border-top: 1px solid var(--background-color);
    font-size: 2.5rem;
    height: 60px;
    display: flex;
    align-items: stretch;
    line-height: 7.5rem;
    justify-content: space-between;
}

@media (width <= 1024px) {
    #average {
        font-size: 1.8rem;
    }
}

h1 {
    text-align: center;
    font-size: 7rem;
    padding: 0 2rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    padding: 0 2rem;
    text-align: center;
}

@media (orientation: portrait) {
    h2 {
        font-size: 5rem;
    }
}

h3 {
    margin-top: 0;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: right;
}

@media (width <= 1024px) {
    h3 {
        font-size: 2rem;
    }
}

ul {
    padding: 0;
    list-style: none;
}

li {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: right;
    margin: 0 0 0.2rem;
}

@media (width <= 1024px) {
    li {
        font-size: 2.5rem;
    }
}

button {
    padding: 0.5em 2em;
    border: none;
    font-weight: 700;
    color: var(--button-text-color);
    background-color: var(--secondary-color);
    font-size: 2.5rem;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 14px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media (orientation: portrait) {
    button {
        margin-top: 10rem;
        font-size: 5rem;
    }
}

button.error {
    color: var(--error-color);
}

#clicker.prepare {
    background-color: var(--prepare-color);
}

#clicker.ready {
    background-color: var(--ready-color);
}

#clicker.success {
    background-color: var(--primary-color);
}

#clicker.timeout,
#clicker.error {
    background-color: var(--error-color);
}